body{
    background: black url('/img/background3.png') no-repeat 0% 80%;
    background-position:contain;
    /* background-size:contain; */
    background-attachment:fixed;
    /* background-repeat:no-repeat; */
    color:white;
    
}

.don {
    max-width:70%;
}
.header-don h1{
    /* color:white; */
    font-size:5rem;
    margin-bottom:1.5rem;
}

.header-don{
    /* color:white; */
    font-size:2rem;
    margin-bottom:2rem;
}

.header-don span{
    /* color:white; */
    font-style:italic;
    font-size:5rem;
    margin-bottom:2rem;
}

.page-footer {
    min-height: 60px;
    text-align:center;
    margin-top:5rem;
    padding-top:1rem;
    /* padding:4px; */
    
}



.ui.segment.search-bar{
    margin-top:2rem;
    margin-bottom:2.5rem;
    padding-bottom:1.2rem;
    /* padding-top:1.2rem; */
    /* background-color:rgb(83, 52, 52); */

}

.ui.form .field>label{
color:white;
font-size:1.2rem;
padding-bottom:.5rem;
}

