body{
    background: black url('/img/background3.png') no-repeat 0% 80%;
    background-position:contain;
    /* background-size:contain; */
    background-attachment:fixed;
    /* background-repeat:no-repeat; */
    color:white;
    
}

.don {
    max-width:70%;
}
.header-don h1{
    /* color:white; */
    font-size:5rem;
    margin-bottom:1.5rem;
}
.part-item img:hover {
    opacity: 70%;
}

.header-don{
    /* color:white; */
    font-size:2rem;
    margin-bottom:2rem;
}

.header-don span{
    /* color:white; */
    font-style:italic;
    font-size:5rem;
    margin-bottom:2rem;
}

.page-footer {
    min-height: 60px;
    text-align:center;
    margin-top:5rem;
    padding-top:1rem;
    /* padding:4px; */
    
}



.ui.segment.search-bar{
    margin-top:2rem;
    margin-bottom:2.5rem;
    padding-bottom:1.2rem;
    /* padding-top:1.2rem; */
    /* background-color:rgb(83, 52, 52); */

}

.ui.form .field>label{
color:white;
font-size:1.2rem;
padding-bottom:.5rem;
}

.divider{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(241, 244, 248), transparent);
}

.div-arrow-down:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(238, 239, 241);
	border-right: 1px solid rgb(218, 226, 241);
}
