.part-item{
    max-height:250px;
    margin-bottom:3rem;
    padding:2rem;
    
    
}

.part-item img:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.part-item img:hover {
    opacity: 80%;
}

.part-item img{
    cursor: pointer;
}

/* .part-item img:hover{
    opacity:90%;
} */