.part-item{
    max-height:250px;
    /* margin-bottom:3rem; */
    padding:1rem;
    
    
}



.part-item img:hover {
    -webkit-transition: all 0.3s ease-out;

    -moz-transition: all 0.3s ease-out;
    
    -o-transition: all 0.3s ease-out;
    
    opacity:.60;
    
    -webkit-opacity:.60;
    
    -moz-opacity:.60;
}

.part-item img{
    cursor: pointer;
    border:2px solid rgb(247, 247, 247);
}

/* .part-item img:hover{
    opacity:90%;
} */

.bodylabel{
    background-color:rgb(83, 52, 52);
    text-transform: uppercase;
    font-size:1.2rem;
}