.part-item{
    max-height:250px;
    /* margin-bottom:3rem; */
    padding:1rem;
    
    
}



.part-item img:hover {
    opacity: 70%;
}

.part-item img{
    cursor: pointer;
    border:2px solid rgb(247, 247, 247);
}

/* .part-item img:hover{
    opacity:90%;
} */

.bodylabel{
    background-color:rgb(83, 52, 52);
    text-transform: uppercase;
    font-size:1.2rem;
}